	p{
		position: center;
		height: 100%;
		min-width: 10%;
		padding: 20% 0px 10px 10px;
	}
	body{
		font-size: 60px
	}
	li {
    list-style-type: none; /* Убираем маркеры */
   }

	.navbar-top{
		position: fixed;
		width: 100%;
		background-color: white;
		/*padding-bottom: 30px;*/
		top:0;
        font-size: 100px;
		border-bottom: gray solid 2px;
	}

	.navbar-bottom{
		position: fixed;
		width: 100%;
		background-color: white;
		/*padding-bottom: 30px;*/
		bottom:0;
        font-size: 100px;
		border-top: gray solid 2px;
	}
	p#story{
		height: 100%;
		outline: none;
	}
	div.col#red{
		color: red;
	}
	.login{
		position: center;
		height: 100%;
		min-width: 10%;
		padding: 20% 0 10px 10px;
	}
	.login button{
		font-size: 60px;
		border: 2px solid grey;
		border-radius: 5px;
		background-color: lightgery;
	}
	.login input{
		font-size: 60px;
		border: 2px solid grey;
		border-radius: 5px;
	}
	.login input#password{
		font-size: 60px;
		border: 2px solid grey;
		border-radius: 5px;
		margin-bottom: 5%;
	}
	.userpage{
		padding: 35% 0 10px 10px;
	}
	username{
		color: white;
	}